body {
  background-color: #f5f7fa;
}
.body {
  background-color: #f5f7fa;
  min-height: 653px;
  max-height: fit-content;
}
* {
  font-family: "Mulish", sans-serif;
}
.cart_container_main {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.order_summary_container {
  width: 68%;
  padding: 10px;
  padding-left: 13px;
  background-color: white;
  height: 400px;
  border-radius: 8px;
}
.delivery_address_container {
  display: flex;
  border-bottom: 1px solid #a8b1b7;
  margin-bottom: 15px;
}
.delivery_address_div {
  width: 60%;
}
.delivery_address_text_set {
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  padding: 6px;
}
.delivery_address_text_set ::before {
  content: "";
  background: url("https://i.im.ge/2022/10/07/1vsOB9.Web-capture-7-10-2022-121349-www-rentomojo-com.jpg");
  width: auto;
  height: auto;
}
.set_address {
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
.set_change_address_text {
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}
.order_summary_div {
  display: flex;
  width: 100%;
  padding-top: 7px;
  justify-content: space-between;
  margin-top: 10px;
}
.payable_now_div {
  border: 1px solid #e2eaf0;
  border-radius: 10px;
  position: relative;
  width: 47%;
  height: 90px;
  padding: 10px;
  padding-top: 18px;
}
.text_set {
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 15px;
  font-weight: 600;
  z-index: 1;
  padding: 0px 7px;
  background: white;
}
.pricing_info_div {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.pricing_info_text_set {
  font-size: 15px;
  font-weight: 500;
}
.monthly_payable_div {
  border: 1px solid #e2eaf0;
  border-radius: 10px;
  position: relative;
  width: 47%;
  height: 130px;
  padding: 10px;
  padding-top: 18px;
}
.extra_info_text {
  text-align: right;
  font-size: 10px;
  font-weight: 500;
  padding-top: 5px;
  padding-right: 19%;
}
.set_payment_btn {
  width: 40%;
  height: auto;
  padding: 8px;
  background-color: #dc3226;
  border-radius: 5px;
}
.payable_amount_div {
  padding: 0px 10px;
}
.set_payment_btn_amount_set {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.set_payment_btn_payable_now_text_set {
  font-size: 10px;
  font-weight: 500;
  color: white;
}
.set_payment_btn_proceed_now_text {
  color: white;
  padding: 4px 8px;
}
.cart_items_container {
  width: 30%;
  height: auto;
}
.product_container {
  width: 100%;
  background-color: white;
  padding: 10px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.set_product_img {
  width: 20%;
  border-radius: 5px;
  height: 40px;
}
.title_img_div {
  display: flex;
}
.set_rent_refund_div{
  padding: 7px;
}

.empty_cart_container{
  width: 90%;
  height: 580px;
  margin: auto;

}
.empty_cart_image{
  width: 20%;
  margin: auto;
  padding-top: 60px;
}
.empyt_cart_info{
  width: 35%;
  margin: auto;
  padding:5px;
}
.empyt_cart_info>h3{
  font-size: 29px ;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
.empyt_cart_info>p{
  font-size: 15px;
  padding: 4px;
  text-align: center;
  line-height: 20px;
  color: #71757a;
}
.empyt_cart_info>button{
  padding: 10px;
  background-color: #dc3226;
  color: white;
  text-align: center;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  margin-left: 30%;
}
.btn_increase_decrease{
  padding-left:9px;
  padding-right: 9px;
  cursor: pointer;
  font-size: 23px;
}